registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-asset-release
registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-adobe-release
_auth=${NPM_AUTH}
email=${NPM_EMAIL}
always-auth=true
